<body>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <ul *ngIf="false">
    <li><a [routerLink]="['']">home</a></li>
    <li><a [routerLink]="['/player/join-game']" skipLocationChange>player/join-game</a></li>
    <li><a [routerLink]="['/player/room']" skipLocationChange>player/room</a></li>
    <li><a [routerLink]="['/player/start-game']" skipLocationChange>player/start-game</a></li>
    <li><a [routerLink]="['/player/assign-roles']" skipLocationChange>player/assign-roles</a></li>
    <li><a [routerLink]="['/player/team-pick']" skipLocationChange>player/team-pick</a></li>
    <li><a [routerLink]="['/player/team-approval']" skipLocationChange>player/team-approval</a></li>
    <li><a [routerLink]="['/player/mission']" skipLocationChange>player/mission</a></li>
    <li><a [routerLink]="['/player/accusation']" skipLocationChange>player/accusation</a></li>
    <li><a [routerLink]="['/player/investigation']" skipLocationChange>player/investigation</a></li>
    <li><a [routerLink]="['/player/game-over']" skipLocationChange>player/game-over</a></li>
  </ul>
</body>
