:host {
    --resistance-color: #0062ff;
    --spy-color: #ff0000;
    --unfinished-color: #000000;
    --mission-circle-diameter: 40px;
    --vote-circle-diameter: 25px;
    --highlight-color: #ffeb00;
    --highlight-thickness: 5px;

    --font-size: 20px;

    color: white;
}

.mission-circles {
    display: flex;
    opacity: 0.4;

    .mission-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--mission-circle-diameter);
        width: var(--mission-circle-diameter);
        border-radius: 100%;
        background-color: var(--unfinished-color);
        &.mission-circle--pass {
            background-color: var(--resistance-color);
        }
        &.mission-circle--fail {
            background-color: var(--spy-color);
        }
        &.mission-circle--current {
            border: var(--highlight-thickness) solid var(--highlight-color);
        }

        .mission-circle-text {
            font-size: var(--font-size);
        }
    }
}

.vote-circles {
    display: flex;
    opacity: 0.4;

    .vote-circle {
        display: inline-block;
        height: var(--vote-circle-diameter);
        width: var(--vote-circle-diameter);
        border-radius: 100%;
        background-color: var(--unfinished-color);
        &.vote-circle--current {
            border: var(--highlight-thickness) solid var(--highlight-color);
        }
    }
}
