<div
    fxLayout.gt-sm="row"
    fxLayoutAlign.gt-sm="center"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="center">
    <app-game-card
        *ngFor="let game of (lobbyData | async)?.games"
        [game]="game">
    </app-game-card>
</div>
<div
    class="new-game"
    gdAuto="rows"
    gdGap="2rem"
    fxLayoutAlign="center center">
    <h1
        *ngIf=""
        class="no-game">
        There are no games.
    </h1>
    <a mat-flat-button color="accent">
        Create new game
    </a>
</div>
<!-- <mat-card>
    <mat-card-header
        fxLayoutAlign="center"
        *ngIf="!(lobbyData | async)?.games?.length">
        <mat-card-title>
            There are no games.
        </mat-card-title>
    </mat-card-header>
    <mat-card-footer fxLayoutAlign="center">
        <mat-card-actions>
            <a mat-flat-button color="accent">
                Create new game
            </a>
        </mat-card-actions>
    </mat-card-footer>
</mat-card> -->