<p *ngIf="!roleAssigned">Assigning roles...</p>

<div *ngIf=roleAssigned>
    <div *ngIf="showCharacter">
        <p>Your role has been assigned</p>
        <p>You are {{ getRole() }}</p>
        <button (click)="hideCharacter()">Got it!</button>
    </div>

    <div *ngIf="!showCharacter">
        <p *ngIf="!showLeaderScript && !showCharacter">Waiting</p>

        <div *ngIf="showLeaderScript && isLeader">
            <p>You are the leader</p>
            <p>Read this script: ...</p>
            <button (click)=finishedReadingScript()>Finished!</button>
        </div>

        <div *ngIf="showLeaderScript && !isLeader">
            <P>{{ getLeader() }} is the leader</P>
            <p>Follow the instructions you are given</p>
            <p>Remember you are {{ getRole() }}</p>
        </div>
    </div>
    
</div>
